<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Signin Template for Bootstrap</title>
		<!-- Bootstrap core CSS -->
		<link href="asserts/css/bootstrap.min.css"  th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="asserts/css/signin.css"  th:href="@{/asserts/css/signin.css}"  rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" id="loginform"  method="post" >
			<img class="mb-4" th:src="@{/asserts/img/bootstrap-solid.svg}" src="asserts/img/bootstrap-solid.svg" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>
			<p  style="color: red" id="errormsg" ></p>
			<label class="sr-only" th:text="#{login.username}">Username</label>
			<input type="text" name="username" class="form-control" id="nameInput" placeholder="Username" required="" autofocus="" >
			<label class="sr-only" th:text="#{login.password}">Password</label>
			<input type="password" name="password" class="form-control" id="pwdInput" placeholder="Password" required="">
			<div class="checkbox mb-3">
				<label>
            <input type="checkbox" value="remember-me" > [[#{login.remember}]]
			</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" id="buyerbtn" type="submit" th:text="#{login.buyerbtn}">Sign in</button>
			<button class="btn btn-lg btn-primary btn-block" id="sellerbtn" type="button" th:attr="seller_uri=@{/goods}" th:text="#{login.sellerbtn}">Sign in</button>
			<p class="mt-5 mb-3 text-muted">© 2017-2018</p>
			<a class="btn btn-sm" th:href="@{/login.html(l='zh_CN')}">中文</a>
			<a class="btn btn-sm" th:href="@{/login.html(l='en_US')}">English</a>
		</form>


	</body>
	<script type="text/javascript"  th:src="@{/asserts/js/jquery-1.11.0.min.js}" ></script>

	<script type="text/javascript">
        $("#sellerbtn").click(function () {
            $.ajax({
				url:'seller/login',
                type:'POST',
                datatype:'JSON',
                data:{
                    username:$('#nameInput').val(),
                    password:$('#pwdInput').val(),
                },
				success:function (data) {
				    if(data.seller != null){
                        sessionStorage.setItem('seller',data.seller);
                        window.location.href="/NTES/seller/home.html";
					} else if(data.loginStatusCode==3){
                        $("#errormsg").html("用户名不存在！");
					}else {
                        $("#errormsg").html("密码错误！");
					}
                },
                error:function(err){
                    alert('发生了错误：'+err.status);
                    console.log(err);
                }
			});
        });

        $("#buyerbtn").click(function () {

            $("#loginform").attr("action","/NTES/user/login").submit();

            return false;
        });
	</script>


</html>